/* 
    Created on : 17-Mar-2018, 9:58:02 PM
    Author     : Fadwa
*/

.profileDiv input[type="button"]:hover {
   background: #2fdab8;
}

.profileDiv input[type="button"] {
    border: none;
    padding: 10px 40px 10px;
    font-size: 14px;
    outline: none;
    text-transform: uppercase;
    margin: 0 0 0 -4px;
    font-weight: 700;
    letter-spacing: 1px;
    background:#111;
    color: #fff;
}

#profileBtn {
    float: right;
}

#chargeCreditBtn {
    margin-left: 10px;
}
.profileDiv {
    padding: 10px 10px 10px 10px;
}

.chargeResultCorrect {
    color: #3bf93b;
    padding-left: 20px;
    visibility: hidden;
}

.editResultCorrect {
    color: #3bf93b;
    padding-left: 20px;
    font-size: 12px;
    font-weight: normal;
    visibility: hidden;
}

.editResultWrong {
    color: red;
    padding-left: 20px;
    font-size: 12px;
    font-weight: normal;
    visibility: hidden;
}

.chargeResultWrong {
    color: red;
    padding-left: 20px;
    visibility: hidden;
}

.profileContentDiv {
    padding-left: 300px;
}

#userName {
    font-weight: bold;
}

.newInput {
    padding: 5px 5px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    padding-left: 5px;
}

.genderClass {
    font-family: sans-serif;
}